:root {
  --text--white: #fff;
  --hero-background: #ff3333;
}

@font-face {
  font-family: "serif";
  src: url(../fonts/DMSerifText-Regular.ttf);
}

h1,
h2,
h3,
span {
  font-family: "serif", sans-serif;
}

p,
label,
input,
textarea,
button,
a {
  font-family: "popins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text--white);
}

.nav-component ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-component ul li a {
  position: relative; 
  padding: 10px;
  font-size: 1.2rem;
  overflow: hidden; /* Prevent overflow from the pseudo-element */
  font-family: "popins", sans-serif;
}

.nav-component ul li .nav-home {
  font-size: 2rem;
  font-family: "serif", sans-serif;
}

.nav-component ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text--white);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.nav-component ul li a:hover::after {
  transform: scaleX(1);
}

.nav-component ul li a {
  text-decoration: none;
  color: var(--text--white);
}

.nav-end {
  display: flex;
}

@media (min-width: 768px) {
  .nav-component ul {
    margin: 0 5rem;
  }
}
.hero-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text--white);
  background-color: var(--hero-background);
  position: relative;
  text-align: center;
}

.hero {
  overflow: hidden;
}

.hero-component h1 {
  position: relative;
  font-size: 5rem;
  margin: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 1; 
  transition: transform 0.7s ease-in-out; 
}

.hero-component h1::after {
  content: ""; /* Create an empty pseudo-element */
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%; 
  height: 3px; 
  background-color: var(--text--white); 
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.hero-component h1:hover::after {
  transform: scaleX(1); 
}

@media (min-width: 768px) {
  .hero-component h1 {
    font-size: 14.5rem;
  }
}

.quote-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: var(--text--white);
  background-color: #1e01ad;
  padding: 0 2rem;
}

.quote-component span,
.quote-component--purple span {
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1;
}

.quote-first {
  transform: translateX(0vw); 
}

.quote-second {
  transform: translateX(2vw);
}

.quote-third {
  transform: translateX(4vw); 
}

@media (min-width: 768px) {
  .quote-component {
    align-items: center;
  }

  .quote-component span {
    font-size: 7rem;
  }

  .quote-first {
    transform: translateX(-14vw);
  }

  .quote-second {
    transform: translateX(1vw);
  }

  .quote-third {
    transform: translateX(16vw);
  }
}

.about-component {
  margin-top: 2rem;
  padding: 0 2rem;
}

.about-component__info {
  position: relative;
  margin: 4rem 2rem;
}

.about-component__info h2 {
  text-align: left;
}

.about-component__info p {
  margin: 2rem 0;
}

.about-component__image {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .about-component {
    display: flex;
    gap: 5rem;
    padding: 0 5rem;
    margin-bottom: 2rem;
  }

  .about-component__info {
    width: 45vw;
  }

  .about-component__image {
    width: 30%;
    display: flex;
    align-items: center;
  }
}

.quote-component--purple {
  background-color: #6301ad;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-component--purple span {
  color: var(--text--white);
}

.quote--right {
  text-align: right;
}

@media (min-width: 768px) {
  .quote-component--purple {
    padding: 0 7rem;
  }
  .quote-component--purple span {
    font-size: 7rem;
    margin-right: 1rem;
  }

  .quote--right {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.skill-card {
  background-color: hsl(44%, 0%, 96%);
  color: black;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  width: 300px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
}

.card-text {
  text-align: center;
  flex-grow: 1;
}

.skill-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skill-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .skill-card {
    width: 320px;
    height: 380px;
  }

  .skill-icon {
    width: 80px;
    height: 80px;
  }

  .skill-card h3 {
    font-size: 2rem;
  }

  .skill-card p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .skills-section {
    padding: 6rem 8rem;
  }

  .skill-card {
    width: 350px;
    height: 400px;
  }

  .skill-icon {
    width: 100px;
    height: 100px;
  }

  .skill-card h3 {
    font-size: 2rem;
  }

  .skill-card p {
    font-size: 1rem;
  }
}

footer {
  background-color: #ffefef;
  padding: 1rem;
}

footer a {
  display: flex;
}

.footer-intro,
.info--myself,
.info--school {
  margin: 2rem 0;
  border-bottom: black 1px solid;
}

.footer-intro a {
  margin: 0.5rem 0;
  text-decoration: none;
  color: #000;
}

.footer-intro h3,
.info--myself h3,
.info--school h3 {
  font-weight: bold;
}

a.email-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 1.5rem;
  margin-left: 10px;
  transform-origin: left center;
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer__icon {
  width: 2rem;
  height: 2rem;
}

.info--myself p,
.info--school p {
  font-style: normal;
}

.icons-container {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
  .footer-intro,
  .info--myself,
  .info--school {
    border: none;
  }
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* portfolio.html */

.title-container {
  text-align: center;
  margin: 8rem;
  position: relative;
}

.interact {
  position: relative;
  cursor: pointer;
  display: inline-block; /* Ensure it's treated as a block for the underline */
  color: blue; 
}

.interact::after {
  content: ""; /* Create an empty pseudo-element for the underline */
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 100%; /* Full width of the span */
  height: 1px; 
  background-color: blue; 
  transform: scaleX(0); 
  transform-origin: left; /* Ensure the line expands from the left */
  transition: transform 0.5s ease-in-out; 
}

.interact:hover::after {
  transform: scaleX(1); 
}

.title-container h1 {
  margin-bottom: 1.5rem;
}

.title-container p {
  font-family: "popins", sans-serif;
  font-size: 1.3rem;
}

.slide-img {
  position: absolute;
  bottom: -30px; 
  left: 36%;
  transform: translateX(-50%) translateY(20px); 
  width: 30px; 
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.project {
  margin: 2rem;
  position: relative; 
  overflow: hidden; 
  width: 100%;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover; 
  transition: transform 0.7s ease-in-out; 
}

.project-title,
.project-description {
  position: absolute; 
  left: 1rem; 
  color: white;
  z-index: 2; 
  text-align: left; 
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  bottom: 40px;
}

.project-description {
  font-size: 1.2rem;
  bottom: 20px;
}

@media (min-width: 768px) {
  .project-section {
    display: flex;
    flex-direction: row;
    margin: 0rem 8rem;
    gap: 8rem;
  }

  .project {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 400px;
    margin: 6rem 0;
  }

  .project-section .project .project--big {
    width: 50%;
  }

  .project--small {
    flex: 0.5;
    height: 250px;
  }

  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.7s ease-in-out; 
  }

  .project-image:hover {
    transform: scale(1.1); 
  }
}

header .nav-component .black {
  color: black;
}

.video-modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.modal-content video {
  width: 100%;
  height: auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}


/* contact.html */

.contact-section {
  padding: 8rem 7rem 4rem 7rem;
  background-color: #6301ad;
  color: white;
}

.contact-container--info {
  margin: 4rem 0;
}

.contact-container--info p {
  margin: 1rem 0;
}

.contact-container--info h1 {
  margin-bottom: 1rem;
}

.contact-container--info .email-link {
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.contact-form input,
.contact-form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
}

.contact-phone {
  margin: 1rem 0;
}

.submit-button {
  padding: 0.8rem 1.5rem; 
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end; 
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: white;
  color: #6301ad;
}

@media (min-width: 768px) {
  .contact-section {
    display: flex;
    align-items: flex-end;
    gap: 4rem;
  }

  .contact-container--info {
    width: 40%;
  }

  .contact-container {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: exclusion;
    position: fixed;
    pointer-events: none;
  }
}
